<!-- 로그인 페이지 -->
{% extends 'common/base.html' %}

{% block content %}
<!-- bootstrap 효과 넣기 -->
<div class="card text-center">
    <div class="card-body">
        <div class="row text-center mt-3">
            <div class="col">
                <label class="form-label">ID</label>
                <input class="form-control" type="text">
            </div>
        </div>

        <div class="row text-center" style="margin-top: 10px;">
            <div class="col">
                <label class="form-label">PWD</label>
                <input class="form-control" type="text">
            </div>
        </div>

        <div class="row text-end" style="margin-top: 10px;">
            <div class="col">
                <button class="btn btn-info">Login</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}