<!-- componennt 폴더는 때에 따라서 해당 html을 어떤 특정 구역에 넣고 싶을 때 사용하는 친구들을 모아두는 곳 -->
<div class="row text-center border-bottom align-items-center">
    <div class="col">
        <a class="text-decoration-none fs-1" 
        style="font-weight: bold;color: #999999;" href="{% url 'board' %}">Anonymous</a>
    </div>
    <div class="col">
        <!-- 로그인이 된 상태 -->
        {% if request.user.is_authenticated %}
            <!-- 닉네임을 띄워보자 -->
            <p class="m-0">{{ request.user.nickname }}</p>
            <a class="text-decoration-none fs-5" style="font-weight: bold;color: #c60000;">글쓰기</a>
            <a class="text-decoration-none fs-5" style="font-weight: bold;color: black;" href="{% url 'signout' %}">로그아웃</a>

        <!-- 로그인이 되지 않은 상태 -->
        {% else %}
            <a class="text-decoration-none fs-5" style="font-weight: bold;color: black;" href="{% url 'signin' %}">로그인</a>
        {% endif %}
    </div>
</div>